.filter {
  padding-bottom: 10px;
  width: 100%;
}

.filter__form {
  background: #f6f6f6;
  box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
}

.products__empty {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 50%;
  margin: 0 auto;
  color: #a7a7a7;
  font-weight: bold;
}
