.button__icon {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
}

.button__icon :hover {
  color: #a7a7a7;
}

.button__icon.icon--search {
  margin-right: 20px;
}
.button__icon.icon--cart {
  margin-right: 10px;
}

.icon__counter {
  overflow: hidden;
  position: absolute;
  right: -7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ca5452;
  color: #fff;
  line-height: 18px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  pointer-events: none;
}
