.product__size,
.product__cart {
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}

.product__size {
  margin: 5px;
  font-size: 18px;
  padding: 2px 8px;
  background-color: #fff;
  border-color: #dfdfdf;
}

.product__size.is-selected {
  background-color: #a7a7a7;
  border-color: #dfdfdf;
  color: #fff;
}

.product__size:hover,
.product__cart:hover {
  border-color: #a7a7a7;
}

.product__cart {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
  padding: 2px 0;
  font-weight: 700;
  background-color: #fff;
  border-color: #dfdfdf;
}
