.topbar {
  background: #fff;
  display: block;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.topbar__default {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.topbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.topbar__menu {
  display: flex;
  align-items: center;
}
