.topbar {
  background: #fff;
  display: block;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
}

.topbar__default {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.topbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.topbar__menu {
  display: flex;
  align-items: center;
}

.menu__icon--cart,
.menu__icon--search {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
}

.menu__icon--search {
  margin-right: 20px;
}

.products {
  padding-top: 70px;
  padding-bottom: 1.6rem;
}

.products__count {
  color: #a7a7a7;
  font-size: 14px;
  font-weight: 400;
}

.products__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  z-index: 0;
}

@media only screen and (max-width: 720px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .products__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 359px) {
  .products__list {
    grid-template-columns: 1fr;
  }
}

.product__info {
  padding: 10px 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.product__discount {
  position: absolute;
  right: 0;
  margin: 0;
  background-color: #212529;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 4px;
}

.product__image img {
  width: 100%;
}

.product__name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 2px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.product__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__price {
  font-size: 14px;
}

.product__price--from {
  margin-right: 6px;
  font-size: 11px;
  color: #ca5452;
  text-decoration: line-through;
}
