.drawer__product {
  display: flex;
  padding: 2%;
}

.drawer__image {
  width: 25%;
}

.drawer__details {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 2%;
}

.details__name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.details__size {
  font-size: 12px;
  font-weight: bold;
  color: #a7a7a7;
  padding: 4% 0;
}

.details__amount {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.amount {
  font-size: 18px;
  padding: 0 10px;
  align-items: center;
}

.details__delete {
  display: flex;
  align-items: center;
}

.delete {
  color: #ca5452;
  margin: 0 4px;
}

.drawer__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  padding: 0 2%;
}

.price__atual {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding-bottom: 4%;
}

.price__installments {
  font-size: 12px;
  color: #a7a7a7;
}
