.product__info {
  padding: 10px 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.product__discount {
  position: absolute;
  right: 0;
  margin: 0;
  background-color: #212529;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 4px;
}

.product__image img {
  width: 100%;
}

.product__name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 2px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.product__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__price {
  font-size: 14px;
}

.product__price--from {
  margin-right: 6px;
  font-size: 11px;
  color: #ca5452;
  text-decoration: line-through;
}
